<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.niuhongbin.createactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OtherActivity"
            android:label="@string/tv_show"
            android:icon="@drawable/ic_launcher_foreground">


        </activity>
    </application>

    <!--
        android:name="需要配置的包名.类名  必选属性"
        android:label="表示应用程序列表中程序图标下方的文字"
        android:icon="表示应用程序的图标"
    -->

</manifest>